		/* css reset */
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		/* font import */
		@font-face {
			font-family: sofia;
			src: url(Sofia-Regular.ttf);
		}

		@font-face {
			font-family: quicksand;
			src: url(Quicksand-SemiBold.ttf);
		}

		@font-face {
			font-family: quicksand-reg ;
			src: url(Quicksand-Regular.ttf);
		}

		@font-face {
			font-family: arial;

		}
	/* style */
		/* header dan isinya */
		body {
			background-color: #EEF1FF;
		}

		nav {
			background-color: #790252;
			display: inline-block;
			width: 100%;
			height: 80px;
		}

		nav .title {
			font-weight: bold;
			margin-left: 70px;
			margin-top: 30px;
			font-size: 20px;
			font-family: sofia;
			color: white;
		}

		h1 {
			font-size: 40px;
			margin-left: 15px;
		}

		.judul h1 {
			margin-top: 10px;
		}

		.isi_konten img {
			width: 400px;
			float: left;
			margin: 0 9px 3px 0;
			margin-left: 15px;

		}

		.isi_konten p {
			font-family: quicksand-reg;
			text-align: justify;
			margin-right: 15px;
			font-size: 20px;
			margin-top: 10px;
		}


		.nama_penulis p {
			font-size: 20px;
			margin-left: 15px;
		}

		.penulis img {
			width: 50px;
			border-radius: 50%;
			margin-left: 15px;
		}

		.nama_penulis p{
			margin-left: 15px;
			font-size: 15px;
		}
		

		
		hr {
			margin-left: 15px;
			margin-right: 15px;
		}

		main {
			background-color: white;
			width: 1024px;
			height: 500px;
			margin: auto;
		}

		.penutup {
			float: right;
			margin-top: 40px;
			margin-right: 15px;
			font-size: 110%;
		}

		.isi {
			width: 400px;
		}

		main .copyright {
			float: left;
			margin-top: 40px;
			margin-left: 15px;
			font-size: 110%;
		}